API - HELP

Rotas:

********************************************************************************************** 


/api/user - Cria um novo usuário -- POST

exemplo: 
{
    "first_name": "fulano",
    "last_name": "silva",
    "email": "fulano-silva@teste.com",
    "password_hash": "senha",
}

Possíveis retornos:
{ message: 'E-mail já cadastrado' }
{ message: 'Usuário cadastrado com sucesso' }


********************************************************************************************** 


/api/user/:id - Retorna o usuário de acordo com o id recebido -- GET

exemplo:
    /api/user/5d8103f4d34f2c118cb50c4e

Possíveis retornos:
{ error: 'Id não é válido.' }
{ error: 'Usuário não existe.' }
{ user: -usuário requisitado- }


********************************************************************************************** 


/api/update_user/:id - Altera o usuário de acordo com o id recebido -- PUT

exemplo:
    /api/update_user/5d8103f4d34f2c118cb50c4e
    {
	    "area": "desenvolvimento",
    }

Possíveis retornos:
{ error: 'Id não é válido.' }
{ error: 'Formato da requisição está errada.' }
{ error: 'Requisição contém campos que não podem ser alterados' }
{ error: 'Usuário não existe.' }
{ user: -usuário alterado- }


**********************************************************************************************


/api/users - Retorna todos usuários cadastrados -- GET

Possíveis retornos:
{ error: 'Não existem usuários cadastrados na aplicação' }
{ users: -todos usuários da aplicação-, length: -quantidade de usuários da aplicação- }


********************************************************************************************** 


/api/login - Realiza login na aplicação -- POST

exemplo:
{
	"email": "fulano-silva@teste.com",
    "password": "senha",
}

Possíveis retornos:
{ error: 'Usuário não encontrado.' }
{ error: 'Senha incorreta.' }
{ message: 'Login OK', id_user: -id do usuário logado- }


********************************************************************************************** 

/api/create_squad - Cria os squads -- GET

Possíveis retornos:
{ 
    message: `Quantidade de participantes insuficiente para a criação de um squad de 4 pessoas.`,
    users_out: -total de participantes sem squad-
}
{ message: 'Squads criado com sucesso.', users_out: -total de participantes sem squad- }


********************************************************************************************** 


/api/squads - Retorna todos os squads criados na aplicação -- GET

Possíveis retornos:
{ squads: -squads existentes na aplicação-, length: -total de squads- }
{ error: 'Não existem squads cadastrados na aplicação' }


********************************************************************************************** 


/api/squad/:id - Retorna o squad de acordo com o id recebido -- GET

exemplo:
    /api/squad/5d8124b36f2cef20045615cd

Possíveis retornos:
{ error: 'Id não é válido.' }
{ error: 'Squad não existe.' }
{ squad: -squad requisitado- }


********************************************************************************************** 


/api/delete_squad/:id - Apaga o squad de acordo com o id recebido -- DELETE

exemplo:
    /api/delete_squad/5d8124b36f2cef20045615cd

Possíveis retornos:
{ error: 'Id não é válido.' }
{ error: 'Squad não existe.' }
{ message: 'Squad removido com sucesso.' }


**********************************************************************************************

/api/questions - Cria uma nova questão - POST

exemplo: 
{
    "question": "What are some useful digital marketing tools?",
	"area": "marketing",
	"answer": "Google Analytics, Keyword Planner, Alexa.",
	"options": ["Ahrefs, Campaign Watch, iSpionage.", "SimilarWeb, Spyfu, Wordtracker."]
}

Possíveis retornos:
{ message: 'Questão já cadastrada.' }
{ message: 'Questão cadastrado com sucesso' }


**********************************************************************************************


/api/questions/:area - Retorna as questões de acordo com a área - GET

exemplo: 
    /api/questions/marketing

Possíveis retornos:
{ error: `Não existem questões cadastradas da área ${area} na aplicação` }
{ questions: -questões da área informada-, length: questions.length }


**********************************************************************************************


/api/questions - Retorna todas as questões salvas - GET

exemplo:
    /api/questions

Possíveis retornos:
{ error: 'Não existem questões cadastradas na aplicação' }
{ questions: -questões-, length: questions.length }