*************************************** API - HELP ****************************************** 

Endpoint name: Create user
Endpoint:  POST /api/users  

Request format:
{
    "first_name": "fulano",
    "last_name": "silva",
    "email": "fulano-silva@teste.com",
    "password_hash": "senha",
}

Responses formats:
{ message: 'E-mail already exists.' }
{ message: 'Successfully registered user.' }

********************************************************************************************** 

Endpoint name: Get user
Endpoint:  GET /api/users/:id

Request format:
    /api/users/5d8103f4d34f2c118cb50c4e

Responses formats:
{ error: 'Id is not valid.' }
{ error: 'User do not exits.' }
{ user: user }

********************************************************************************************** 

Endpoint name: Update user
Endpoint:  PUT /api/users/:id

Request format:
    /api/users/5d8103f4d34f2c118cb50c4e
    {
	    "area": "back-end",
    }

Responses formats:
{ error: 'Id is not valid.' }
{ error: 'Request format is wrong.' }
{ error: 'Request contains fields that cannot be changed.' }
{ error: 'User do not exits.' }
{ user: user }

**********************************************************************************************

Endpoint name: Get users
Endpoint:  GET /api/users

Request format:
    /api/users

Responses formats:
{ error: 'Users do not exist in the application.' }
{ users: user, length: -quantidade de usuários da aplicação- }

********************************************************************************************** 

Endpoint name: Login
Endpoint:  POST /api/login

Request format:
    /api/login
    {
        "email": "fulano-silva@teste.com",
        "password": "password",
    }

Responses formats:
{ error: 'User not found.' }
{ error: 'Incorrect password.' }
{ message: 'Login OK', id_user: id }

********************************************************************************************** 

Endpoint name: Creat squads
Endpoint:  POST /api/squads

Request format:
    /api/squads

Responses formats:
{ 
    message: `Insufficient number of participants to create a squad.`,
    users_out: users.length
}
{ 
    message: 'Squads successfully created.', 
    users_out: users.length
}

********************************************************************************************** 

Endpoint name: Get squads
Endpoint:  GET /api/squads

Request format:
    /api/squads

Responses formats:
{ squads: squads, length: squads.length }
{ error: 'Squads do not exist in the application.' }

********************************************************************************************** 

Endpoint name: Get squad
Endpoint:  GET /api/squads/:id

Request format:
    /api/squads/5d8124b36f2cef20045615cd

Responses formats:
{ error: 'Id is not valid.' }
{ error: 'Squad do not exits.' }
{ squad: squad }

********************************************************************************************** 

Endpoint name: Delete squad
Endpoint:  DELETE /api/squads/:id

Request format:
    /api/squads/5d8124b36f2cef20045615cd

Responses formats:
{ error: 'Id is not valid.' }
{ error: 'Squad do not exits.' }
{ message: 'Squad successfully removed.' }

**********************************************************************************************

Endpoint name: Create question
Endpoint:  POST /api/questions

Request format:
    /api/questions
    {
        "question": "What are some useful digital marketing tools?",
        "area": "marketing",
        "answer": "Google Analytics, Keyword Planner, Alexa.",
        "options": ["Ahrefs, Campaign Watch, iSpionage.", "SimilarWeb, Spyfu, Wordtracker."]
    }

Responses formats:
{ message: 'Question already exists.' }
{ message: 'Successfully registered question.' }

**********************************************************************************************

Endpoint name: Get question for area
Endpoint:  GET /api/questions/:area

Request format:
    /api/questions/marketing

Responses formats:
{ error: 'There are no registered questions from the ${area} area in the application.' }
{ questions: questions, length: questions.length }

**********************************************************************************************

Endpoint name: Get questions
Endpoint:  GET /api/questions

Request format:
    /api/questions

Responses formats:
{ error: 'Questions do not exist in the application.' }
{ questions: questions-, length: questions.length }